In [6]:
# Library Imports 

import pandas as pd 

# NOTE!!! CODE REQUIRED TO RECIEVE INPUT VARIABLE  rev_name

# TEST
rev_name = 'Ben'

In [3]:
# Load datasets
id_reviews_df = pd.read_csv("Data/reviews_dec18.csv")
id_reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 446708 entries, 0 to 446707
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   listing_id     446708 non-null  int64
 1   id             446708 non-null  int64
 2   date           446708 non-null  object
 3   reviewer_id    446708 non-null  int64
 4   reviewer_name  446708 non-null  object
 5   comments       446254 non-null  object
dtypes: int64(3), object(3)
memory usage: 20.4+ MB

In [7]:
#Function/s

# Retrieve reviews by Name (rev_name)
def reviews_by_name(id_reviews_df, rev_name):

    return id_reviews_df[id_reviews_df['reviewer_name'] == rev_name]

rev_name_df = reviews_by_name(id_reviews_df, rev_name)

rev_name_df

,listing_id,id,date,reviewer_id,reviewer_name,comments
658,15253,82707781,2016-06-29,6845091,Ben,Morag was great. Made me feel very welcome and...
936,44545,6664364,2013-08-20,193087,Ben,"Atari's apartment was clean, tidy and had natu..."
1555,65635,87063621,2016-07-18,82272367,Ben,"Great host, home away from home"
2274,75702,23262352,2014-11-27,3711484,Ben,The reservation was canceled 9 days before arr...
2521,79024,3587410,2013-02-19,4983666,Ben,"Dan's place is amazing! We had a great time, e..."
...,...,...,...,...,...,...
445115,29490923,346227963,2018-11-07,163839952,Ben,Barbara and Diego are lovely hosts! We spent a...
445605,29693713,346786226,2018-11-09,7819493,Ben,Nando’s apartment is in the heart of Bondi Bea...
445631,29706828,354491939,2018-12-02,132929037,Ben,Literally the easiest & best accomodation I ha...
445676,29714659,355604032,2018-12-04,69117914,Ben,"Excellent location, perfect hosts and a house ..."
446447,30137865,351206173,2018-11-22,108054088,Ben,"The apartment is in a good location, walking t..."

In [8]:
# Dataframe Clean
rev_name_df = rev_name_df.drop_duplicates(subset='comments', keep='first')
rev_name_df = rev_name_df.sort_values(by='reviewer_id')
rev_name_df

,listing_id,id,date,reviewer_id,reviewer_name,comments
373629,21801214,224342451,2018-01-02,3674,Ben,"Fantastic, super modern apartment in Bondi. Ev..."
264012,16046333,212653770,2017-11-18,10957,Ben,"Clean, tidy and in a great location. A really ..."
435276,27317117,320430208,2018-09-09,58298,Ben,"Lovely, clean stylish yurt just a couple of mi..."
69714,3761889,214429307,2017-11-26,123875,Ben,"Great place, Laurene and Florián were very eas..."
275894,16386833,224363124,2018-01-03,155448,Ben,"Incredible views and a pleasant, clean, and co..."
...,...,...,...,...,...,...
368890,21612397,341430743,2018-10-27,221853459,Ben,Great place in a fantastic location. Aimee was...
401904,23196680,347139309,2018-11-11,224546682,Ben,"Great location on a nice quiet street, but sti..."
385286,22227484,349564972,2018-11-17,224571548,Ben,Amazing place. Would highly recommend! Will de...
374366,21816486,347148700,2018-11-11,224571548,Ben,"We had an amazing stay, it was a beautiful stu..."
381429,22071501,351427532,2018-11-22,225656194,Ben,Excellent location and great apartment.

In [9]:
# Export filtered data
rev_name_df.to_csv('fitered_rev_name_data.csv', index=False)